@keyframes fadeinall {
	0% {
		opacity: 1;
	}
	97% {
		opacity: 0;
	}
	98% {
		opacity: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		z-index: -1;
	}
}

@keyframes type {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes run {
	0% {
		transform: translateX(calc(100vw - 2rem - 1px));
	}

	50% {
		transform: translateX(calc(0vw - 2rem));
	}

	100% {
		transform: translateX(calc(100vw - 2rem - 1px));
	}
}

#fadein {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background-color: #ffffff;
	z-index: 999;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation: fadeinall 1s normal both;
	animation: fadeinall 1s normal both;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

body,
html {
	margin: 0;
	padding: 0;
}

header,
main {
	margin: 0 2rem;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	position: relative;
}

.type {
	height: 3.25ch;
	width: 1.5px;
	background: black;
	transform: translateY(3px);
	margin-left: 2px;
	animation: type 1s linear infinite forwards;
}

.run {
	width: 1px;
	height: 100vh;
	z-index: 2;
	background: red;
	top: 0;
	left: 0;
	animation: run 15s ease-in-out infinite forwards;
	position: absolute;
}

header h1 {
	font-weight: normal;
	text-transform: capitalize;
}

details {
	display: block;
	width: 100%;
	margin-bottom: -1px;
}

details summary {
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr 2rem 1fr;
}

details summary p {
	margin: 0;
}

details summary p:nth-of-type(1) {
	text-align: right;
	padding: 0 1rem;
	width: max-content;
	margin: 0 0 0 auto;
}

details summary p:nth-of-type(2) {
	border: 1px solid grey;
	text-align: center;
}

details summary:hover p:nth-of-type(2) {
	border: 1px solid red;
	text-align: center;
	z-index: 1;
}

details summary p:nth-of-type(3) {
	text-align: left;
	padding: 0 1rem;
	width: max-content;
}

details[open] summary p:nth-of-type(2) {
	color: red;
}

details[open] summary p {
	border: 1px dotted red;
}

details[open] summary p:nth-of-type(1) {
	border: 1px solid red;
	border-style: solid none solid solid;
}

details[open] summary p:nth-of-type(2) {
	border-style: solid none;
}

details[open] summary p:nth-of-type(3) {
	border-style: solid solid solid none;
}

.versus__container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	margin: 0 0 2rem 0;
height: max-content;
}

.versus--item {
	padding: 2rem 0;
}

.versus--item:hover {
	color: red;
	cursor: pointer;
}

.versus--item:first-of-type {
	border-right: 1px solid red;
	padding-right: 2rem;
}

.versus--item:nth-of-type(2) {
	padding-left: 2rem;
}

.--audio {
  display: flex;
  flex-direction: column;
	grid-row: 1;
}

audio {
  position: absolute;
  width: calc(50% - 5rem);
  height: 3ch;
  border-radius: 1rem;
  mix-blend-mode: screen;
  margin: 0.5rem;
}


.--meta {
	display: grid;
  grid-template-columns: repeat(6, calc(100% / 6));
  justify-content: space-between;
}

.--meta p {
 margin: 0 0.25rem 0.25rem 0.25rem;
}

.--meta p::before {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
	position: absolute;
	transform: translateY(-0.75rem);
	line-height: 2ch;
	cursor: default;
  color: grey;
  text-transform: uppercase;
}

.--meta p:nth-of-type(1)::before {
  content:"title";
}

.--meta p:nth-of-type(2)::before {
  content:"duration";
}

.--meta p:nth-of-type(3)::before {
  content:"release date";
}

.--meta p:nth-of-type(4)::before {
  content:"album";
}
.--meta p:nth-of-type(5)::before {
  content:"producer";
}
.--meta p:nth-of-type(6)::before {
  content:"country";
}

.versus--item .--audio img {
	width: 100%;
}
