@keyframes fadeinall {
	0% {
		opacity: 1;
	}
	97% {
		opacity: 0;
	}
	98% {
		opacity: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		z-index: -1;
	}
}

@keyframes type {
	0% {
		opacity: 0;
	}

	30% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes run {
	0% {
		transform: translateX(calc(100vw - 1px));
	}

	50% {
		transform: translateX(0vw);
	}

	100% {
		transform: translateX(calc(100vw - 1px));
	}
}

#fadein {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	background-color: #ffffff;
	z-index: 999;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation: fadeinall 1s normal both;
	animation: fadeinall 1s normal both;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

:root {
	--primary-font: 'Arial Narrow', sans-serif;
	--secondary-font: 'Arial', sans-serif;
	--serif: 'Times New Roman', serif;
	--text: black;
	--link: red;
	--hover: red;
	--grey: gray;
	color: var(--text-color);
	font-size: calc(0.8em + 0.25vw);
	letter-spacing: 0.025em;
	line-height: 1.3em;
	font-family: var(--primary-font);
}

* {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html {
	scroll-behavior: smooth;
}
body,
html {
	margin: 0;
	padding: 0;
}

.type {
	height: 3.25ch;
	width: 1.5px;
	background: black;
	transform: translateY(3px);
	margin-left: 2px;
	animation: type 1s linear infinite forwards;
}

.run {
	width: 1px;
	height: 100vh;
	z-index: 2;
	background: red;
	top: 0;
	left: 0;
	animation: run 15s ease-in-out infinite forwards;
	position: absolute;
}

header,
main {
	margin: 0 2rem;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	position: relative;
	/* justify-content: flex-start; */
}

header h5 {
	font-weight: normal;
	/* text-transform: uppercase; */
	border: 1px dotted var(--grey);
	padding: 1.25rem 0;
	border-radius: 100%;
	width: 2.5em;
	text-align: center;
	font-family: var(--secondary-font);
	font-size: 0.7rem;
	color: transparent;
}

header h5 + h5 {
	margin-left: -0.5rem;
}

details {
	display: block;
	width: 100%;
	margin-bottom: -1px;
}

details summary {
	cursor: pointer;
	display: grid;
	grid-template-columns: 1fr 2rem 1fr;
}

details summary p {
	margin: 0;
	padding-bottom: 2px;
}

details summary p:nth-of-type(1) {
	text-align: right;
	padding: 0 1rem;
	width: max-content;
	margin: 0 0 0 auto;
}

details summary p:nth-of-type(2) {
	border: 1px solid transparent;
	text-align: center;
}

details summary:hover p:nth-of-type(2) {
	border: 1px solid transparent;
	text-align: center;
	z-index: 1;
	color: red;
}

details summary p:nth-of-type(3) {
	text-align: left;
	padding: 0 1rem;
	width: max-content;
}

details[open] summary p {
	color: red;
	transition: opacity 0.125s;
}

details[open] summary p:nth-of-type(2) {
	border: 1px solid var(--link);
	color: red;
}

.versus__container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	margin: 0 0 2rem 0;
	height: max-content;
}

.versus--item {
	padding: 2rem 0;
}

.versus--item img {
	filter: grayscale(100%) contrast(1);
	background-color: var(--link);
	mix-blend-mode: screen;
}

.versus--item:hover {
	cursor: pointer;
}

.versus--item:hover img {
	transition: filter 1s;
	filter: opacity(100%) contrast(1);
	background: white;
	mix-blend-mode: normal;

}


.versus--item:hover audio {
	opacity: 1;
  background: var(--link);
  outline: var(--link);
  border: 1px solid var(--link);
}

.versus--item:hover .--audio {
	box-shadow: 12px 0 12px 24px red inset;
}

.versus--item:first-of-type {
	border-right: 1px solid red;
	padding-right: 2rem;
}

.versus--item:nth-of-type(2) {
	padding-left: 2rem;
}

.--audio {
	display: flex;
	flex-direction: column;
	grid-row: 1;
	background: var(--link);
}

audio {
	position: absolute;
	width: calc(50% - 5rem);
	height: 3ch;
	border-radius: 1rem;
	mix-blend-mode: screen;
	margin: 0.5rem;
	z-index: 100;
	opacity: 0;
}

.--meta {
	display: grid;
	grid-template-columns: 2fr repeat(5, 1fr);
	justify-content: space-between;
	font-size: 0.8rem;
}

.--meta p {
	margin: 0 0.25rem 0.25rem 0.25rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.--meta p::before {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.5rem;
	position: absolute;
	transform: translateY(-0.75rem);
	line-height: 2ch;
	cursor: default;
	color: grey;
	text-transform: uppercase;
}

.--meta p:nth-of-type(1)::before {
	content: 'title';
}

.--meta p:nth-of-type(2)::before {
	content: 'duration';
}

.--meta p:nth-of-type(3)::before {
	content: 'release date';
}

.--meta p:nth-of-type(4)::before {
	content: 'album';
}
.--meta p:nth-of-type(5)::before {
	content: 'producer';
}
.--meta p:nth-of-type(6)::before {
	content: 'country';
}

.versus--item img {
	width: 100%;
}
